# Django
*.pyc
__pycache__/
*.pyo
*.pyd
*.log
*.pot
*.mo
*.egg-info/
db.sqlite3
media

# Django secret key
.env

# Virtualenv
venv/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Next.js
.next/
out/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
